body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
}
*{
    box-sizing: border-box;
}
h1, h2, h3, h4{
    margin: 0;font-weight: normal;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
    margin: 0;
    padding:0;
}
.wrapper{
    min-width: 114px;
    background: url(../img/services/headline\ 1.png) center top no-repeat; 
}
.container{
    margin: 0 auto;
    width: 1140px;
}
.hero{
    min-height: 412px;
    color: #fff;
}

.header{
    padding-top: 27px;
    display: flex;
    align-items: center;
}
.logo{
    display: block;
}
.menu__list{
    display: inline-flex;
    margin-left: 23px;
    margin-top: 5px;
}
.contacts{
    margin-left: auto;
    text-align: right;
}
.menu__item{
    margin-left: 54px;
    transition: .5s;
}
.menu__item:hover{
    color: #F5170E;
}
.contacts__phone{
    font-size: 26px;
    line-height: 35px;
}
.contacts__dropdown-title{
    font-size: 13px;
    line-height: 10px;
    text-decoration: underline;
}
.main__title{
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    margin-top: 85px;
    margin-bottom: 100px;
}
.bread-crumbs{
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #9A9A9A;
    display: inline-flex;
    align-items: baseline;
}
.bread-crumbs p{
text-decoration: underline;
}



.main{
   padding-top: 98px; 
   padding-bottom: 76px;
}


.feedbacks__column{
    max-width: 557px;
    border-radius: 5px;
}
.feedbacks__item{
    background: #F4F5F5;
    padding: 50px 29px 32px;
    border-radius: 5px;
}
.user__foto{
    width: 142px;
    height: 142px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.user__name{
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    color: #1A1B1E;
    transition: color .3s;
}
.user__name:hover{
    color: #2E77A4;
    text-decoration: underline;
}
.user__tur{
    display: inline-flex;
    font-size: 13px;
    line-height: 18px;
    color: #303030;
    padding: 10px 18px;
    background-color: #B9EAE4;
    border-radius: 18px;
    margin-right: auto;
}
.feedback__title{
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #1A1B1E;
  margin-bottom: 13px;
}
.feedback__text{
    font-size: 16px;
    line-height: 27px;
    color: #818181;
    margin-bottom: 48px;
}
.feedback__user{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 27px;
}
.user__info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}















.footer{
    color: #fff;
padding: 32px 0;
background-color: #001821;
}
.footer__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__left{
    display: inline-flex;
    align-items: center;
}
.footer__socials{
    display: inline-flex;
    margin-left: auto;
}
.footer__contacts{
    margin-left: 72px;
}
.contacts__chart{
    font-size: 11px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #9A9A9A;
    margin-left: 26px;
}
/* .socials__link{
    margin-left: 10px;
    display: flex;
    opacity: .3;
    transition: .5s;
}
.socials__link:hover{
    opacity: 1;
} */


/* спрайты */
.icons{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
}

.twitter-icon::after{
    position: absolute;
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background:url(/img/icons/css_sprites.png)-122px -66px;
}
.twitter-icon:hover::after{
    background-position: -66px -122px;
}
.vk-icon::after{
    position: absolute;
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background:url(/img/icons/css_sprites.png)-122px -10px;
}
.vk-icon:hover::after{
    background-position: -10px -122px;
}
.facebook-icon::after{
    position: absolute;
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background:url(/img/icons/css_sprites.png)-66px -66px;
}
.facebook-icon:hover::after{
    background-position: -10px -10px;
}
.in-icon::after{
    position: absolute;
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background:url(/img/icons/css_sprites.png)-10px -66px;
}
.in-icon:hover::after{
    background-position: -66px -10px;
}


/* выпадающее меню */

.dropdown__menu{
    width: 160px;
    height: 80px;
    position: absolute;
    top: 100%;
    right: -5000px;
    background: url(/img/dropdown_bg.png) center center no-repeat;
    font-size: 13px;
    line-height: 21px;
    display: block;
    color: #1E1F20;
    text-align: center;
    opacity: 0;
    transition: opacity .3s;
}
.contacts__dropdown-title{
    position: relative;
}

.menu__worktime{
    font-weight: bold;
    margin-top: 22px;
}
.contacts__dropdown-title:hover .dropdown__menu{
    opacity: 1;
    right: -2px;
}